<div class="container mt-4">
    <div class="row">
        <h3>Listado de estudiantes</h3>
        <button class="btn btn-primary ml-auto" (click)="toogle()">Toogle</button>
    </div>
    <br>
    <table class="table" *ngIf="mostrar">
        <thead>
            <th>Nro</th>
            <th>Nombre</th>
            <th>Estador</th>
            <th>Graduado</th>
        </thead>
        <tbody>
            <tr *ngFor="let estudiante of listEstudiantes; let i = index" [ngSwitch]="estudiante.graduado">
                <td>{{i + 1}}</td>
                <td>
                    <span [ngClass]="estudiante.estado === 'Promocionado' ? 'badge bg-success':'badge bg-secondary'">{{estudiante.nombre}}</span>    
                </td>
                <td [ngStyle]="{'font-style': estudiante.estado === 'Promocionado' ? 'italic':'normal'}">{{estudiante.estado}}</td>
                <td>
                    <span *ngSwitchCase="'si'" class="badge bg-success">{{estudiante.graduado}}</span>
                    <span *ngSwitchCase="'no'" class="badge bg-danger">{{estudiante.graduado}}</span>    
                </td>
            </tr>
        </tbody>
    </table>
    <h3 *ngIf="listEstudiantes.length === 0">No hay registros para mostrar</h3>
</div>